@import url(./swiper.css);

:root {
  /* COLORS */
  --color-lavender-blush: hsl(0, 100%, 98%);
  --color-granite-gray: hsl(210, 4%, 38%);
  --color-white: rgb(255, 255, 255);
  --color-white-opcty-40: rgba(255, 255, 255, 0.4);
  --color-white-opcty-90: rgba(255, 255, 255, 0.9);
  --color-blue-60-opcty-70: rgba(128, 177, 230, 0.7);
  --color-majorelle-blue: hsl(249, 95%, 63%);
  --color-ocean-blue: hsl(249, 63%, 54%);
  --color-red-salsa: hsl(357, 94%, 63%);
  --color-english-vermillion: hsl(357, 64%, 53%);
  --color-gunmetal: hsl(209, 40%, 14%);
  --color-gainsboro: hsl(0, 0%, 85%);
  --color-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --color-white-opcty-015: rgba(0, 0, 0, 0.15);
  --color-background: #f8f8f8;
  --color-btn: rgb(62,175,245);

  /* RADIUS */
  --radius-pill: 200px;
  --radius-circle: 50%;
  --radius-30: 30px;
  --radius-25: 25px;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-10: 10px;
  --radius-5: 5px;

  /* TRANSITION */
  --transition-ease-250: 250ms ease;
  --transition-ease-500: 500ms ease;
  --transition-cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /* BOX SHADOW */
  --shadow-violet: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-black-red: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-black-30: rgba(0, 0, 0, 0.3);
  /* --shadow-gray-10: 0 2px 10px hsla(209, 40%, 14%, 10%); */

  /* FONT WEIGHT */
  --weight-semiBold-600-600: 600;
  --weight-medium-500-500: 500;

  /* FONT SIZE */
  --fontSize-1: 3rem;
  --fontSize-2: 2.6rem;
  --fontSize-3: 1.9rem;
  --fontSize-4: 1.8rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.1rem;
  --fontSize-8: 1rem;
  --fontSize-9: 0.9rem;
  --fontSize-10: 0.8rem;
  --fontSize-11: 0.7rem;
  --fontSize-12: 0.6rem;


  /* FONT FAMILY */
  --ff-poppins: "Poppins", sans-serif;

  /* MARGIN */
  --margin-1_5rem: 1.5rem;
  --margin-2rem: 2rem;

  /* DURATION */
  --fast-duration: 1500ms;

  /* FOR CALENDAR */
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
  /* END FOR CALENDAR */
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  size: 10px;
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

body {
  background-color: var(--color-lavender-blush);
  color: var(--color-granite-gray);
  font-size: var(--fontSize-6);
  line-height: 1.8;
  height: 300vh;
  overflow: auto; /* Allow scrolling */
}

/* Hide scroll bar for Chrome, Safari, and other WebKit-based browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for Firefox */
body {
  scrollbar-width: none;
}

/* REUSED STYLE */
.container {
  padding-inline: 16px;
}

.btn {
  height: 50px;
  color: var(--color-white);
  padding-inline: 30px;
  border-radius: var(--radius-pill);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  transition: var(--transition-ease-250);
  font-size: 0.8rem;
}

.btn-primary {
  background-color: var();
}

.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--color-ocean-blue);
  box-shadow: var(--shadow-violet);
}

.btn-secondary {
  background-color: var(--color-red-salsa);
}

.btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--color-english-vermillion);
  box-shadow: var(--shadow-black-red);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  color: var(--color-gunmetal);
  font-weight: var(--weight-semiBold-600);
  line-height: 1.45;
}

.h1 {
  font-size: var(--fontSize-1);
  line-height: 1.2;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: var(--fontSize-4);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-ease-500);
}

.w-100 {
  width: 100%;
}

.destination-subtitle {
  color: var(--color-majorelle-blue);
  font-weight: var(--weight-medium-500);
  text-transform: uppercase;
}

.destination-title {
  margin-block: 10px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--color-gainsboro);
  overflow: hidden;
}

/* PRELOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-lavender-blush);
  display: grid;
  place-content: center;
  z-index: 7;
  transition: var(--transition-ease-250);
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.preloader .img {
  animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.preloader-inner {
  position: relative;
}

.preloader-inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  background-color: var(--color-black-alpha-20);
  filter: blur(4px);
  z-index: -1;
  animation: dropShadow 800ms ease-in-out infinite alternate;
}

@keyframes dropShadow {
  0% {
    width: 40%;
  }
  100% {
    width: 80%;
  }
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 6;
  background-color: var(--color-white-opcty-015);
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header.active {
  position: fixed;
  background-color: var(--color-blue-60-opcty-70);
  /* box-shadow: var(--shadow-gray-10); */
  backdrop-filter: blur(20px);
  transition: 0.5s ease;
  padding-block: 8px;
  height: 3.5rem;
}

/* .header .nav.active .navbar-link {
    color: var(--color-granite-gray);
  } */

/* @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  } */

.header .logo-active {
  filter: drop-shadow(0 0 0.5rem var(--color-white));
  width: 10px;
  height: auto;
  transition: 0.5s ease;
}

.header .logo-active img {
  width: 150px;
  height: auto;
}
/* .header.active .logo-active {
    width: 140px;
    height: auto;
    transition: 0.5s ease;
  }
   */
.header .nav-toggle-btn {
  font-size: 2rem;
  color: var(--color-white);
}

.header .navbar.active .nav-toggle-btn {
  color: var(--color-black);
}

.header .navbar {
  position: fixed;
  top: 0;
  right: -350px;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: 400ms var(--transition-cubic-out);
  visibility: visible;
}

.header .navbar-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header .navbar.active {
  transform: translateX(-350px);
  transition-duration: 500ms;
  visibility: visible;
}

.header .navbar.active .container-navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .navbar.active .container-navbar-logo .logo {
  margin-top: 10px;
}

.header .navbar.active .container-nav-list {
  margin-block-start: 40px;
  margin-left: 20px;
}

.header .navbar.active .container-nav-list .logo {
  display: none;
}

.header .navbar.active .container-nav-list .navbar-link {
  font-size: var(--fontSize-6);
  position: relative;
  font-weight: var(--weight-medium-500);
  padding-block: 8px;
  transition: var(--transition-ease-250);
}

.header .navbar-link::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  background-color: var(--color-majorelle-blue);
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-ease-250);
}

.header .navbar-link:is(:hover, :focus-visible, .active)::before {
  opacity: 1;
}

.header .navbar-link:is(:hover, :focus-visible, .active) {
  transform: translateX(10px);
}

.overlay {
  /* Nền khi bật Navbar != mobile */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-ease-250);
}

.overlay.active {
  visibility: visible;
  opacity: 0.5;
}

/* RESPONSIVE FOR LARGER THAN 992 SCREEN */
@media (min-width: 992px) {
  /* REUSED STYLE */
  .header .container {
    max-width: 960px;
  }

  .header .container .logo-active {
    display: none;
  }

  .header .container .nav-toggle-btn {
    display: none;
  }

  .header .container-navbar-logo {
    display: none;
  }

  .header .container .navbar {
    all: unset;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .header .container .container-nav-list {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 70px;
    width: auto;
  }

  .header .navbar-list {
    display: flex;
    gap: 80px;
  }

  .header .navbar-link:is(:hover, :focus-visible, .active) {
    transform: unset;
  }

  .header .navbar-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
    margin-top: 15px;
    background-color: var(--color-white);
  }

  .header .navbar-link:hover:before {
    width: 100%;
  }

  .header .navbar-link {
    color: var(--color-white);
    text-shadow: var(--shadow-white);
    position: relative;
  }
}

/* HOME */
.home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
}

.home .home_slider-wrapper {
  height: 100%;
  width: 100%;
}

.home_slide {
  display: flex;
  position: absolute;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* .home .home_slide.active {
  opacity: 1;
} */

.home .home_slide_image {
  width: 100%;
  height: 93%;
  position: relative;
  display: flex;
  align-items: center;
}

.home .home_slide_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.home_slide_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  background-color: var(--shadow-black-30);
  z-index: 1;
}

.home .home_slide_text {
  position: absolute;
  width: 100%;
  height: 60%;
  padding: 8%;
  top: 10%;
  color: var(--color-white-opcty-90);
  z-index: 2;

  /* Adding text-shadow to create a blurred effect */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust x, y, and blur radius as needed */
}

.home .home_slide_text .heading {
  /* font-size: clamp(var(--font-size-1) * 1.3, 3vw, var(--font-size-2)); */
  font-size: var(--fontSize-7);
  margin-bottom: var(--margin-1_5rem);
  max-height: 40%;
}

.home .home_slide_text .text {
  line-height: 1.5em; /* Good for readability */
  font-size: var(--fontSize-9);
  max-height: 60%; /* Retain max-height to control container height */

  /* Additional properties to handle text overflow */
  overflow: hidden; /* Hide overflowed content */
  white-space: normal; /* Allow text to wrap onto multiple lines */

  /* Use text-overflow as needed */
  text-overflow: ellipsis; /* Add ellipsis when text overflows (optional) */
}

.home .home_slide.active {
  opacity: 1;
}

.home .home_slide.active .home_slide_text {
  animation: reveal var(--fast-duration) forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-40%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.home_thumbnails {
  display: flex;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 50%;
  right: 0;
  z-index: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity var(--fast-duration) ease,
    transform var(--fast-duration) ease;
}

.home_thumbnails.reveal {
  transform: translateX(0px);
  opacity: 1;
}

.home_thumbnails-wrapper {
  display: flex;
  align-items: center;
  padding: var(--padding-1);
}

.home_thumbnail {
  border-radius: var(--border-10);
  overflow: hidden;
  height: 300px;
  box-shadow: var(--shadow-primary);
}

.home_thumbnail_image {
  height: 100%;
}

.home_thumbnail.swiper-slide-active {
  width: 230px !important;
  height: 330px !important;
  transition: width var(--default-duration) ease,
    height var(--default-duration) ease;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 1);
}

/* HOME BOOKING */
.home .home_booking {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  height: 35%;
  border-radius: var(--radius-25);
  background-color: var(--color-white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  z-index: 2;

  backdrop-filter: blur(15px);
  background-color: rgb(255, 255, 255, 0.3);
  /* border: 1px solid var(--color-white); */
}

.home .home_cont-information-booking {
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-rows: 1fr 1fr 1fr;
}

.home .btn-booking {
  font-size: var(--fontSize-7);
  position: absolute;
  top: -100%;
  width: 200px;
}

.home .btn-search-tour {
  width: 100%;
  height: 20%;
  background-color: var(--color-btn);
  font-size: var(--fontSize-9);
  color: var(--color-white);
  border-end-start-radius: var(--radius-25);
  border-end-end-radius: var(--radius-25);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds text shadow */

}

/* DEPARTURE CONTAINER */
/* .home .home_cont-departure {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
} */

.home .home_cont-departure {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
}

.home .home_cont-departure .img-departure{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
}

.home .home_cont-departure .img-departure img{
    width: 80%;
    height: auto;
}

.home .departure-information{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
}


.home .select-departure-option input::placeholder {
  color: var(--color-white);
}

.home .select-departure-content {
    width: 100%;
    height: 50%;
    color: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--fontSize-10);
    align-content: center;
    z-index: 1;
    font-weight: bold;
  }

  .home .select-departure-option {
    width: 100%;
    height: 50%;
    cursor: pointer;
    z-index: 1;
  }

.home .select-departure-option input {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--fontSize-10);
  font-weight: 100;
  z-index: 1;
}

/* DESTINATION CONTAINER */
/* .home .home_destination-point {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
} */

.home .home_cont-destination {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
}

.home .home_cont-destination .img-destination{
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
}

.home .home_cont-destination .img-destination img{
  width: 80%;
  height: auto;
}

.home .destination-information{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.home .select-destination-option input::placeholder {
  color: var(--color-white);
}

.home .select-destination-content {
  width: 100%;
  height: 50%;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--fontSize-10);
  align-content: center;
  z-index: 1;
  font-weight: bold;
}

.home .select-destination-option {
  width: 100%;
  height: 50%;
  cursor: pointer;
  z-index: 1;
}

.home .select-destination-option input {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--fontSize-10);
  font-weight: 100;
  z-index: 1;
}


.home .departure-content {
  background-color: #fff;
  color: #000;
  border-radius: var(--radius-15);
  width: 100%;
  padding: 5%;
  display: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  transform: translateY(-50%);
}

.home .destination-content {
  background-color: #fff;
  color: #000;
  border-radius: var(--radius-15);
  width: 100%;
  padding: 5%;
  display: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  transform: translateY(-50%);
}

.home .departure-search input {
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  outline: 0;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.home .destination-search input {
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  outline: 0;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.home .departure-options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
}

.home .destination-options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
}

/* Get scroll bar more smaller */
/* For Webkit browsers */
.home .departure-options::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.home .destination-options::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* For Firefox */
.home .departure-options {
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

.home .destination-options {
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

/* For Internet Explorer and Edge */
.home .departure-options::-ms-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.home .destination-options::-ms-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Optional: Customize scrollbar appearance */
.home .departure-options::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Customize scrollbar thumb color */
  border-radius: 5px; /* Optional: Customize scrollbar thumb border radius */
}

.home .destination-options::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Customize scrollbar thumb color */
  border-radius: 5px; /* Optional: Customize scrollbar thumb border radius */
}
/*End get scroll bar more smaller */

.home .departure-options li {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.home .destination-options li {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.home .departure-options li:hover {
  background-color: #f2f2f2;
}

.home .destination-options li:hover {
  background-color: #f2f2f2;
}

.home .home_cont-departure.active .departure-content {
  display: block;
  z-index: 10;
}

.home .home_cont-destination.active .destination-content {
  display: block;
  z-index: 10;
}

.home .home_cont-departure.active .select-departure-option:after {
  transform: rotate(-180deg);
}

.home .home_cont-destination.active .select-destination-option:after {
  transform: rotate(-180deg);
}

/* CALLENDAR */

/* .home .home-cont-date {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .home .select-date-box {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .home .date-information {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  padding: 0 1rem;
} */
/* .home .select-date-box input::placeholder {
  color: white;
}

.home .select-date-box input {
  width: 100%;
  height: 100%;
  color: var(--color-white);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  z-index: 1;
} */

/* CALENDAR */
.home .home_cont-date {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7%;

  position: relative;
}

.home .home_cont-date .icon-calendar{
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
}

.home .home_cont-date .icon-calendar img{
  width: 80%;
  height: auto;
}

.home .date-information{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: var(--color-white);
  border-radius: 10px;
  font-size: var(--fontSize-10);
  align-content: center;
  z-index: 1;
  font-weight: bold;
}

.home .date-information input{
  cursor: pointer;

}

.home .date-information input::placeholder {
  color: var(--color-white);
}


/* CALENDAR */
:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}



.cont-calendar {
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  border-radius: var(--radius-15);
  overflow: hidden;
  padding: 5%;
  box-shadow: var(--shadow);
  z-index: 2;
  bottom: 0;
  transform: translateY(-50%);
}

.calendar-header {
  background: var(--color-btn);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-weight: 700; */
  font-size: 0.8rem;
  color: var(--white);
  padding: 10px;
  border-radius: var(--radius-10);
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* font-weight: 600; */
  
  cursor: pointer;
  color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  height: 50px;
  font-size: 0.8rem;
  font-weight: bold;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
  justify-items: center;
  align-items: center;
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-size: 0.8rem;

}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.month-picker:hover {
  color: var(--color-txt);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-btn);
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

.year-change:hover pre {
  color: var(--bg-body);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #fbc7d4;
  border-radius: 20%;
  color: var(--dark-text);
}

.calendar-days div.current-date {
  color: var(--dark-text);
  background-color: var(--color-btn);
  border-radius: 20%;
}

.month-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
  color: var(--light-text);
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
  display: none;
}

.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
}

.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list > div > div:hover {
  background-color: var(--color-btn);
  color: var(--dark-text);
  transform: scale(0.9);
}

.month-list.show {
  display: grid;
}

@keyframes from-middle {
  from {
    width: 0;
    margin-left: 50%;
    margin-right: 50%;
  }
  to {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Define the CSS class for the selected day */
.date-info {
  position: absolute;
  bottom: 20px;
}
