@import url(./swiper.css);

:root {
    /* COLORS */
    --color-lavender-blush: hsl(0, 100%, 98%);
    --color-granite-gray: hsl(210, 4%, 38%);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-white-opcty-40: rgba(255, 255, 255, 0.4);
    --color-white-opcty-90: rgba(255, 255, 255, 0.9);
    --color-blue-60-opcty-70: rgba(128, 177, 230, 0.7);
    --color-majorelle-blue: hsl(249, 95%, 63%);
    --color-ocean-blue: hsl(249, 63%, 54%);
    --color-red-salsa: hsl(357, 94%, 63%);
    --color-english-vermillion: hsl(357, 64%, 53%);
    --color-gunmetal: hsl(209, 40%, 14%);
    --color-gainsboro: hsl(0, 0%, 85%);
    --color-black-alpha-20: hsla(0, 0%, 0%, 0.2);
    --color-white-opcty-015: rgba(0, 0, 0, 0.15);
    --color-background: #f8f8f8;
    --color-main: rgb(62, 175, 245);
    --color-light-main: rgb(122, 205, 255);
    --color-calendar-hover: #fbc7d4;
    --color-block-element: #d3d3d3;
    --color-glassmorphism: rgb(255, 255, 255, 0.3);
    --color-hover-option: #f2f2f2;

    /* RADIUS */
    --radius-pill: 200px;
    --radius-circle: 50%;
    --radius-30: 30px;
    --radius-25: 25px;
    --radius-20: 20px;
    --radius-15: 15px;
    --radius-10: 10px;
    --radius-5: 5px;

    /* TRANSITION */
    --transition-ease-250: 250ms ease;
    --transition-ease-500: 500ms ease;
    --transition-cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

    /* FONT WEIGHT */
    --weight-semiBold-600: 600;
    --weight-medium-500: 500;


    /* FONT SIZE */
    --fontSize-1: 3rem;
    --fontSize-2: 2.6rem;
    --fontSize-3: 1.9rem;
    --fontSize-4: 1.8rem;
    --fontSize-5: 1.6rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.1rem;
    --fontSize-8: 1rem;
    --fontSize-9: 0.9rem;
    --fontSize-10: 0.8rem;
    --fontSize-11: 0.7rem;
    --fontSize-12: 0.6rem;

    /* FONT FAMILY */
    --ff-poppins: "Poppins", sans-serif;

    /* MARGIN */
    --margin-1_5rem: 1.5rem;
    --margin-2rem: 2rem;

    /* DURATION */
    --fast-duration: 1500ms;

    /* SHADOW */
    --shadow-white-opcty-100: 0px 5px 15px rgba(255, 255, 255, 1);
    --shadow-black: 0px 5px 15px rgba(1, 1, 1, 1);
    --shadow-black-opcty-25: 0px 5px 15px rgba(0, 0, 0, 0.25);
    --shadow-violet: 0 5px 10px hsla(249, 95%, 63%, 25%);
    --shadow-black-red: 0 5px 10px hsla(357, 64%, 53%, 25%);
    --shadow-black-30: rgba(0, 0, 0, 0.3);
}

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
input,
button,
i {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

i {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-poppins);
    /* size: 10px; */
    scroll-behavior: smooth;
    background-color: var(--color-background);
}

body {
    background-color: var(--color-lavender-blush);
    color: var(--color-granite-gray);
    font-size: var(--fontSize-6);
    line-height: 1.8;
    height: 300vh;
    overflow: auto; /* Allow scrolling */
}

/* Hide scroll bar for Chrome, Safari, and other WebKit-based browsers */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar for Firefox */
body {
    scrollbar-width: none;
}

/* REUSED STYLE */
.container {
    padding-inline: 16px;
}

.btn {
    height: 50px;
    color: var(--color-white);
    padding-inline: 30px;
    border-radius: var(--radius-pill);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    transition: var(--transition-ease-250);
    font-size: 0.8rem;
}

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h1 {
    font-size: var(--fontSize-1);
    line-height: 1.2;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: var(--fontSize-4);
}

/* PRELOADER */


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 6;
    background-color: var(--color-white-opcty-015);
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header.active {
    position: fixed;
    background-color: var(--color-blue-60-opcty-70);
    backdrop-filter: blur(20px);
    transition: 0.5s ease;
    padding-block: 8px;
    height: 3.5rem;
}

.header .logo-active {
    filter: drop-shadow(0 0 0.5rem var(--color-white));
    width: 10px;
    height: auto;
    transition: 0.5s ease;
}

.header .logo-active img {
    width: 150px;
    height: auto;
}

.header .nav-toggle-btn {
    font-size: 2rem;
    color: var(--color-white);
}

.header .navbar.active .nav-toggle-btn {
    color: var(--color-black);
}

.header .navbar {
    position: fixed;
    top: 0;
    right: -350px;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 400ms var(--transition-cubic-out);
    visibility: visible;
}

.header .navbar-item {
    display: flex;
    align-items: center;
}

.header .navbar.active {
    transform: translateX(-350px);
    transition-duration: 500ms;
    visibility: visible;
}

.header .navbar.active .container-navbar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .navbar.active .container-navbar-logo .logo {
    margin-top: 10px;
}

.header .navbar.active .container-nav-list {
    margin-block-start: 40px;
    margin-left: 20px;
}

.header .navbar.active .container-nav-list .logo {
    display: none;
}

.header .navbar.active .container-nav-list .navbar-link {
    font-size: var(--fontSize-7);
    position: relative;
    font-weight: var(--weight-medium-500);
    padding-block: 8px;
    transition: var(--transition-ease-250);
}

.header .navbar-link::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: var(--color-main);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-radius: var(--radius-5);
    opacity: 0;
    transition: var(--transition-ease-250);
}

.header .navbar-link:is(:hover, :focus-visible, .active)::before {
    opacity: 1;
}

.header .navbar-link:is(:hover, :focus-visible, .active) {
    transform: translateX(10px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-ease-250);
}

.overlay.active {
    visibility: visible;
    opacity: 0.5;
}

/* RESPONSIVE FOR LARGER THAN 992 SCREEN */
@media (min-width: 992px) {
    /* REUSED STYLE */
    .header .container {
        max-width: 960px;
    }

    .header .container .logo-active {
        display: none;
    }

    .header .container .nav-toggle-btn {
        display: none;
    }

    .header .container-navbar-logo {
        display: none;
    }

    .header .container .navbar {
        all: unset;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .header .container .container-nav-list {
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 70px;
        width: auto;
    }

    .header .navbar-list {
        display: flex;
        gap: 80px;
    }

    .header .navbar-link:is(:hover, :focus-visible, .active) {
        transform: unset;
    }

    .header .navbar-link:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        transition: 0.3s ease;
        margin-top: 15px;
        background-color: var(--color-white);
    }

    .header .navbar-link:hover:before {
        width: 100%;
    }

    .header .navbar-link {
        color: var(--color-white);
        text-shadow: var(--shadow-white-opcty-100);
        position: relative;
    }
}

/* HOME */
.home {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home_slider-wrapper {
    height: 100%;
    width: 100%;
}

.home_slide {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.home_slide_image {
    width: 100%;
    height: 93%;
    position: relative;
    display: flex;
    align-items: center;
}

.home_slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.home_slide_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--shadow-black-30);
    z-index: 1;
}

.home_slide_text {
    position: absolute;
    width: 100%;
    height: 60%;
    padding: 8%;
    top: 10%;
    color: var(--color-white-opcty-90);
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home_slide_text .heading {
    font-size: var(--fontSize-7);
    margin-bottom: var(--margin-1_5rem);
    max-height: 40%;
}

.home_slide_text .text {
    line-height: 1.5em;
    font-size: var(--fontSize-9);
    max-height: 60%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.home_slide.active {
    opacity: 1;
}

.home_slide.active .home_slide_text {
    animation: reveal var(--fast-duration) forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.home_thumbnails {
    display: flex;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    z-index: 0;
    transform: translateY(-50%);
    opacity: 0;
    /* transition: opacity var(--fast-duration) ease,
      transform var(--fast-duration) ease; */
}

.home_thumbnails.reveal {
    transform: translateX(0px);
    opacity: 1;
}

.home_thumbnails-wrapper {
    display: flex;
    align-items: center;
    /* padding: var(--padding-1); */
}

.home_thumbnail {
    /* border-radius: var(--border-10); */
    overflow: hidden;
    height: 300px;
    /* box-shadow: var(--shadow-primary); */
}

.home_thumbnail_image {
    height: 100%;
}

.home_thumbnail.swiper-slide-active {
    width: 230px !important;
    height: 330px !important;
    /* transition: width var(--default-duration) ease,
      height var(--default-duration) ease; */
    box-shadow: var(--shadow-white-opcty-100)
}

/* HOME BOOKING */
.cont-booking {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    height: auto;
    border-radius: var(--radius-25);
    box-shadow: var(--shadow-black-opcty-25);
    z-index: 2;
    backdrop-filter: blur(15px);
    background-color: var(--color-glassmorphism);
}



@keyframes from-middle {
    from {
        width: 0;
        margin-left: 50%;
        margin-right: 50%;
    }
    to {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* SEARCH TOUR PAGE */


